<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login_Verification</servlet-name>
        <servlet-class>Login_Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fac_Home_Processor</servlet-name>
        <servlet-class>Faculty.Fac_Home_Processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log_Out</servlet-name>
        <servlet-class>Log_Out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sheet_Selector</servlet-name>
        <servlet-class>Faculty.Sheet_Selector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checker</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Checker.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Course_Info_Fetcher</servlet-name>
        <servlet-class>Faculty.Course_Info_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Page</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Course_Page.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Doc_Wise_JobList_Fetcher</servlet-name>
        <servlet-class>Faculty.Doc_Wise_JobList_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_Wise_JobList</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Doc_Wise_JobList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin_Home_Processor</servlet-name>
        <servlet-class>Admin.Admin_Home_Processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scans_Upload_Processor</servlet-name>
        <servlet-class>Faculty.Scans_Upload_Processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All_Fac_List_Fetcher</servlet-name>
        <servlet-class>Admin.All_Fac_List_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All_Stud_List_Fetcher</servlet-name>
        <servlet-class>Admin.All_Stud_List_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allotment_Remover</servlet-name>
        <servlet-class>Admin.Allotment_Remover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Adder</servlet-name>
        <servlet-class>Admin.Course_Adder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Alloter</servlet-name>
        <servlet-class>Admin.Course_Alloter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Allotment_Modifier</servlet-name>
        <servlet-class>Admin.Course_Allotment_Modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fac_Adder</servlet-name>
        <servlet-class>Admin.Fac_Adder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fac_Remover</servlet-name>
        <servlet-class>Admin.Fac_Remover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_Adder</servlet-name>
        <servlet-class>Admin.Stud_Adder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_Remover</servlet-name>
        <servlet-class>Admin.Stud_Remover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Home_Preprocessor</servlet-name>
        <servlet-class>Admin.Admin_Home_Preprocessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Scans</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Upload_Scans.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>New_Paper_Form</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/New_Paper_Form.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>New_Question_Form</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/New_Question_Form.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Stud_List</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Stud_List.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Stud_Registration_Form</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Stud_Registration_Form.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Paper_Adder</servlet-name>
        <servlet-class>Faculty.Paper_Adder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Remover</servlet-name>
        <servlet-class>Faculty.Question_Remover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Spec_Form_Processor</servlet-name>
        <servlet-class>Faculty.Question_Spec_Form_Processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Manual</servlet-name>
        <servlet-class>Faculty.Registration_Manual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Remover</servlet-name>
        <servlet-class>Faculty.Registration_Remover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_List_Fetcher</servlet-name>
        <servlet-class>Faculty.Stud_List_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_Registration_Form_Fetcher</servlet-name>
        <servlet-class>Faculty.Stud_Registration_Form_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_From_File</servlet-name>
        <servlet-class>Faculty.Registration_From_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_Adder_By_File</servlet-name>
        <servlet-class>Admin.Stud_Adder_By_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Allotment_Form</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/Course_Allotment_Form.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Paper_Remover</servlet-name>
        <servlet-class>Faculty.Paper_Remover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Evaluation_Status</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Evaluation_Status.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Marks_Tabulation</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Marks_Tabulation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Evaluation_Status_Fetcher</servlet-name>
        <servlet-class>Faculty.Evaluation_Status_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marks_Fetcher</servlet-name>
        <servlet-class>Faculty.Marks_Fetcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Doc_Wise_JobList</servlet-name>
        <url-pattern>/Doc_Wise_JobList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Fac_Assign_Marks</servlet-name>
        <servlet-class>Faculty.Fac_Assign_Marks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Next_Job</servlet-name>
        <servlet-class>Faculty.Get_Next_Job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Prev_Job</servlet-name>
        <servlet-class>Faculty.Get_Prev_Job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_Home_Processor</servlet-name>
        <servlet-class>Student.Stud_Home_Processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stud_Sheet_Selector</servlet-name>
        <servlet-class>Student.Stud_Sheet_Selector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions_Browser_Processor</servlet-name>
        <servlet-class>Student.Questions_Browser_Processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomList</servlet-name>
        <servlet-class>Common.CustomList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paper_Spec_Fetcher</servlet-name>
        <servlet-class>Faculty.Paper_Spec_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reconcilor</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Reconcilor.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reconcilor</servlet-name>
        <url-pattern>/Reconcilor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Question_Spec_Form</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Question_Spec_Form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Question_Spec_Form</servlet-name>
        <url-pattern>/Question_Spec_Form</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Question_Wise_JobList</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Question_Wise_JobList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Question_Wise_JobList</servlet-name>
        <url-pattern>/Question_Wise_JobList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Paper_Spec</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Paper_Spec.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Paper_Spec</servlet-name>
        <url-pattern>/Paper_Spec</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Question_Spec_Form_Fetcher</servlet-name>
        <servlet-class>Faculty.Question_Spec_Form_Fetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Wise_JobList_Fetcher</servlet-name>
        <servlet-class>Faculty.Question_Wise_JobList_Fetcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Verification</servlet-name>
        <url-pattern>/Login_Verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Fac_Home</servlet-name>
        <jsp-file>/WEB-INF/Faculty_Home/Fac_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fac_Home</servlet-name>
        <url-pattern>/Fac_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fac_Home_Processor</servlet-name>
        <url-pattern>/Fac_Home_Processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_Out</servlet-name>
        <url-pattern>/Log_Out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sheet_Selector</servlet-name>
        <url-pattern>/Sheet_Selector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checker</servlet-name>
        <url-pattern>/Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fac_Assign_Marks</servlet-name>
        <url-pattern>/Fac_Assign_Marks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Next_Job</servlet-name>
        <url-pattern>/Get_Next_Job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Prev_Job</servlet-name>
        <url-pattern>/Get_Prev_Job</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stud_Home</servlet-name>
        <jsp-file>/WEB-INF/Student_Home/Stud_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stud_Home</servlet-name>
        <url-pattern>/Stud_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Home_Processor</servlet-name>
        <url-pattern>/Stud_Home_Processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Sheet_Selector</servlet-name>
        <url-pattern>/Stud_Sheet_Selector</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SheetViewer</servlet-name>
        <jsp-file>/WEB-INF/Student_Home/SheetViewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SheetViewer</servlet-name>
        <url-pattern>/SheetViewer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Questions_Browser</servlet-name>
        <jsp-file>/WEB-INF/Student_Home/Questions_Browser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Questions_Browser</servlet-name>
        <url-pattern>/Questions_Browser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlankSheetViewer</servlet-name>
        <jsp-file>/WEB-INF/Student_Home/BlankSheetViewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlankSheetViewer</servlet-name>
        <url-pattern>/BlankSheetViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Page</servlet-name>
        <url-pattern>/Course_Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Info_Fetcher</servlet-name>
        <url-pattern>/Course_Info_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions_Browser_Processor</servlet-name>
        <url-pattern>/Questions_Browser_Processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomList</servlet-name>
        <url-pattern>/CustomList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_Wise_JobList_Fetcher</servlet-name>
        <url-pattern>/Doc_Wise_JobList_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paper_Spec_Fetcher</servlet-name>
        <url-pattern>/Paper_Spec_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Spec_Form_Fetcher</servlet-name>
        <url-pattern>/Question_Spec_Form_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Wise_JobList_Fetcher</servlet-name>
        <url-pattern>/Question_Wise_JobList_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Home</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/Admin_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Home</servlet-name>
        <url-pattern>/Admin_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Home_Processor</servlet-name>
        <url-pattern>/Admin_Home_Processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scans_Upload_Processor</servlet-name>
        <url-pattern>/Scans_Upload_Processor</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>Directory</param-name>
        <param-value>C:/docs</param-value>
    </context-param>
    <context-param>
        <param-name>data</param-name>
        <param-value>http://localhost/data</param-value>
    </context-param>
    
    <context-param>
        <param-name>UploadPhP</param-name>
        <param-value>http://localhost/upload.php</param-value>
    </context-param>
    
    <servlet-mapping>
        <servlet-name>All_Fac_List_Fetcher</servlet-name>
        <url-pattern>/All_Fac_List_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All_Stud_List_Fetcher</servlet-name>
        <url-pattern>/All_Stud_List_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allotment_Remover</servlet-name>
        <url-pattern>/Allotment_Remover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Adder</servlet-name>
        <url-pattern>/Course_Adder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Alloter</servlet-name>
        <url-pattern>/Course_Alloter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Allotment_Modifier</servlet-name>
        <url-pattern>/Course_Allotment_Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fac_Adder</servlet-name>
        <url-pattern>/Fac_Adder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fac_Remover</servlet-name>
        <url-pattern>/Fac_Remover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Adder</servlet-name>
        <url-pattern>/Stud_Adder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Remover</servlet-name>
        <url-pattern>/Stud_Remover</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>All_Fac_List</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/All_Fac_List.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>All_Fac_List</servlet-name>
        <url-pattern>/All_Fac_List</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>All_Stud_List</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/All_Stud_List.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>All_Stud_List</servlet-name>
        <url-pattern>/All_Stud_List</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Fac_Adding_Form</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/Fac_Adding_Form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fac_Adding_Form</servlet-name>
        <url-pattern>/Fac_Adding_Form</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>New_Course_Form</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/New_Course_Form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>New_Course_Form</servlet-name>
        <url-pattern>/New_Course_Form</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stud_Addition_Form</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/Stud_Addition_Form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stud_Addition_Form</servlet-name>
        <url-pattern>/Stud_Addition_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Home_Preprocessor</servlet-name>
        <url-pattern>/Admin_Home_Preprocessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Scans</servlet-name>
        <url-pattern>/Upload_Scans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Paper_Form</servlet-name>
        <url-pattern>/New_Paper_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Question_Form</servlet-name>
        <url-pattern>/New_Question_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_List</servlet-name>
        <url-pattern>/Stud_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Registration_Form</servlet-name>
        <url-pattern>/Stud_Registration_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paper_Adder</servlet-name>
        <url-pattern>/Paper_Adder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Remover</servlet-name>
        <url-pattern>/Question_Remover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Spec_Form_Processor</servlet-name>
        <url-pattern>/Question_Spec_Form_Processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Manual</servlet-name>
        <url-pattern>/Registration_Manual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Remover</servlet-name>
        <url-pattern>/Registration_Remover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_List_Fetcher</servlet-name>
        <url-pattern>/Stud_List_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Registration_Form_Fetcher</servlet-name>
        <url-pattern>/Stud_Registration_Form_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_From_File</servlet-name>
        <url-pattern>/Registration_From_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stud_Adder_By_File</servlet-name>
        <url-pattern>/Stud_Adder_By_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Allotment_Form</servlet-name>
        <url-pattern>/Course_Allotment_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paper_Remover</servlet-name>
        <url-pattern>/Paper_Remover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evaluation_Status</servlet-name>
        <url-pattern>/Evaluation_Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marks_Tabulation</servlet-name>
        <url-pattern>/Marks_Tabulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evaluation_Status_Fetcher</servlet-name>
        <url-pattern>/Evaluation_Status_Fetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marks_Fetcher</servlet-name>
        <url-pattern>/Marks_Fetcher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
